<!--Variables from models.py -->
{% extends 'music/base.html' %}
{% block title %}Album details{% endblock %}
{% block body %}
<img src="{{ album.album_logo }}">

<h1>{{ album.album_title }}</h1>

<h2>{{ album.artist }}</h2>



    {% for song in album.song_set.all %}

            {{ song.song_title }}
            {% if song.is_favorite %}
                <img src="https://cdn.dribbble.com/users/411234/screenshots/2427834/star_1x.png">
            {% endif %}
        <br>
    {% endfor %}

{% endblock %}

{#<ul>#}
{#    {% for song in album.song_set.all %}#}
{#    <li>{{ song.song_title }} - {{ song.file_type }}</li>#}
{#    {% endfor %}#}
{#</ul>#}